/* Keep the bar at the bottom of the page */
/*[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;} */

.alert {
	border-radius: 10px;
	background: white;
	border: 1px solid #BBB;
	margin: 5px;
	padding: 5px;
}

#part_content {
	border: 1px solid #BBB;
	padding: 5px;
	margin-left:auto;
	margin-right:auto;
	background: white;
}

#org_part_content {
	border: 1px solid #BBB;
	padding: 5px;
	margin-left:auto;
	margin-right:auto;
	background: white;
}

#part_content tr {
	font-size: 250%;
}

#org_part_content tr {
	font-size: 250%;	
}

.td_ct {
	text-align: center;
}

.even {
	background: #DCDCDC;
}

.odd {

}